name: example
description: A starting point for Dart libraries or applications.
version: 1.0.0
# repository: https://github.com/my_org/my_repo

environment:
  sdk: ^3.7.0

# Add regular dependencies here.
dependencies:
  artifact: ^1.0.16
  dart_mappable: ^4.5.0
  fast_log: ^1.0.7
dependency_overrides: 
  artifact:
    path: ../
dev_dependencies:
  artifact_gen:
    path: ../artifact_gen
  build_runner: ^2.10.0
  dart_mappable_builder: ^4.5.0
  lints: ^5.0.0
  test: ^1.24.0
artifact:
  export: false

scripts:
  build: flutter pub run build_runner build --delete-conflicting-outputs